<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}学员管理 - {{ super() }}{% endblock %}

{% block content %}

<h2>学员管理</h2>
<p><a href="{{ url_for('students.add_student') }}"> ➕ 新增学员 </a></p>

<h2>学员花名册</h2>
<form method="GET">
	<p>
		<label>姓名（证件）：<input type = 'text' name='name_id' value="{{ filters.name_id }}"></label>
		<label>昵称：<input type = 'text' name='name_nick' value="{{ filters.name_nick }}"></label>
		<label>
			性别：
			<select name="gender">
					<option value=""  {% if not filters.gender  %}selected{% endif %}>全部</option>
					<option value="男"  {% if filters.gender == '男' %}selected{% endif %}>男</option>
					<option value="女"  {% if filters.gender == '女' %}selected{% endif %}>女</option>
					<option value="其他"  {% if filters.gender == '其他' %}selected{% endif %}>其他</option>
			</select>
		</label>
	<button type="submit">🔍搜索</button>
	<a href="{{ url_for('students.index') }}">清空</a>
	</p>
</form>


{% if students %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
				<th>学号</th>
                <th>姓名(证件)</th>
                <th>昵称</th>
                <th>性别</th>
                <th>出生日期</th>
				<th>证件</th>
				<th>编辑</th>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
				<td>{{ loop.index }}</td>
				<td>{{ s.student_number }}</td>
                <td>{{ s.legal_name }}</td>
                <td>{{ s.display_name }}</td>
                <td>{{ s.gender or '—' }}</td>
				<td>{{ s.birthday or '—' }}</td>
				<td>{{ s.doc_type }} / {{ s.doc_number }}</td>

				<td>
						<button><a href = "{{ url_for('students.edit_student',student_number=s.student_number) }}">编辑学员</a></button>
						<button><a href = "{{ url_for('classes.list_classes') }}">查看班级 </a></button>
				</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>📭 暂无匹配学员</p>
{% endif %}
{% endblock %}
